---
import { getEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const { slug } = Astro.params as { slug: string };
const entry = await getEntry('projects', slug);

if (!entry) throw new Error(`Project not found for slug: ${slug}`);
const { data, body } = entry;

export function getStaticPaths() {
  const paths = [
    { params: { slug: 'utsa-astro-website' } },
  ];
}

const { caseStudy } = Astro.params
---
<BaseLayout>
  <article>
    <h1>{data.title}</h1>
    <img src={`${data.image}`} alt={`${data.title}`} style="width: 100%; max-width: 600px;" />
    <p>{data.description}</p>
    <!-- <div innerHTML={await body()} /> -->
  </article>
</BaseLayout>
